body{
  margin:0 auto;
  max-width: 1170px;
  width: 100%;
  font-family: sans-serif;
}

.przedmiotyHeading{
  font-size: 28px;
}

label{
  font-size: 16px;
  padding-right: 10px;
  font-weight: 700;
}
label:hover{
    cursor: pointer;
}

input{
  width: 65%;
  height: 30px;
}

input:hover{
  cursor: pointer;
}
select{
  width: 65%;
  height: 30px;
}

select:hover{
  cursor:pointer;
}

button{
  width:85%;
  height: 44px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

button:hover{
  cursor: pointer;
}

.title{
  font-size: 25px;
  text-align: center;
  margin: 5vh 0 0.5vh 0;
}

.title b{
  font-weight: 900;
  font-style: italic;
}

.subtitle{
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 2vh;
}

.section{
  display: block;
  width: 26%;
  float: left;
  margin: 3vh 3%;
}

.section-element{
  width: 85%;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.end-information{
  clear: both;
  margin: 3vh 3%;
}

.end-title{
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.8;
}

.end-name{

}
